<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorPickerWPF" version="1.0.9" targetFramework="net472" />
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net472" />
</packages>